# openstack config
CTRL_MGMT_IP=
INTERFACE_MGMT=eth0
INTERFACE_INT=eth1
INTERFACE_EXT=eth2

## To enable database ha, the following options required
#DB_HA=True
#DB_CACHE_SIZE=300M
#DB_CLUSTER_IP_LIST="ip1,ip2,ip3"
DB_HA=True
DB_CACHE_SIZE=300M
DB_CLUSTER_IP_LIST="10.160.55.251,10.160.55.252,10.160.55.253"

## rabbitmq configuration
#RABBIT_IP=$CTRL_MGMT_IP
#RABBIT_USER=guest
#RABBIT_PASS=$RABBIT_USER
#RABBIT_PORT=5672

## To enable rabbit mq ha, uncomment the option RABBIT_HA, RABBIT_LIST
#RABBIT_HA=True

## the RABBIT_CLUSTER included all rabbit host ip and it's hostname in the cluster,
## notice:
##     1) quotation mark for each line
##     2) a delimiter space between an ip and it's hostname
## the following is the example RABBIT_CLUSTER with two nodes
#declare -a RABBIT_CLUSTER=(
#    'ip hostname'
#    '10.160.37.51 centos7-1'
#    '10.160.37.56 centos7-6'
#)
RABBIT_HA=True
declare -a RABBIT_CLUSTER=(
    '10.160.55.251 db-test1'
    '10.160.55.252 db-test2'
)

# To enable fortinet plugin, you have to set ENABLE_FORTINET_PLUGIN as True
# and update the following fortigate variables.
# Notes: TYPE_DR have set as 'vlan' when enable fortigate plugin
ENABLE_FORTINET_PLUGIN=False
FORTINET_ADDRESS=10.160.37.96
FORTINET_EXT_INTERFACE=port9
FORTINET_INT_INTERFACE=port1

# ml2 network type drive, could be vlan, gre, vxlan
TYPE_DR=vxlan
DVR=False
#VLAN_RANGES=physnet1:1009:1099

# If there exist local repositories mirrors, you may add to here to
# save your installation time.
REPO_MIRROR_ENABLE=False
declare -A REPO_MIRROR_URLS=(
    [epel]='http://10.160.37.50/epel/\$releasever/x86_64'
    [cloud]='http://10.160.37.50/centos/\$releasever/cloud/\$basearch/openstack-${INS_OPENSTACK_RELEASE,,}/'
)


# Glance storage backend
GLANCE_STOR_BACKEND = cinder
